<html>
<body>
<br><br>
   <a href = " http://127.0.0.1:8000/">Home</a>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   <a href="success">Success</a>
   <a href="success.html">Success.html</a>

<h2>Update Employee</h2>

<form method="post">
    {% csrf_token %}

    <!-- <input type="text" name="Emp_id" value="{{emp.Emp_id}}" readonly> -->

    <input type="text" name="Emp_name" value="{{ emp_update.Emp_name }}">
    <br><br>

    <input type="text" name="Emp_Email" value="{{ emp_update.Emp_Email }}">
    <br><br>

    <input type="text" name="Emp_Mobile" value="{{ emp_update.Emp_Mobile }}">
    <br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="/">Back to Home</a>

<h3></h3>
<!-- <table border="2">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Mobile</th>
            <th>Action</th>
            <th></th>
        </tr>

        <tr>

        </tr> -->
</body>
</html>