<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>

<body style="margin:0; font-family:Segoe UI; background:linear-gradient(to right, #74ebd5, #ACB6E5);"></body>

    <!-- Navbar -->
    <div style="background-color:#222; padding:15px;">
        <span style="color:#00ffff; font-size:24px; font-weight:bold;">
            Prince Kumar
        </span>

        <span style="float:right;">
            <a href="/" style="color:white; margin-right:20px; text-decoration:none;">Home</a>
            <a href="/about" style="color:white; margin-right:20px; text-decoration:none;">About</a>
            <a href="/projects" style="color:white; margin-right:20px; text-decoration:none;">Projects</a>
            <a href="/contact" style="color:white; text-decoration:none;">Contact</a>
        </span>
    </div>


    <!-- About Content -->
    <div style="
        width:60%;
        margin:50px auto;
        background:white;
        padding:30px;
        border-radius:10px;
        box-shadow:0 0 10px gray;
        text-align:center;">

        <h1>About Me</h1>

        <p style="font-size:18px;">
            Hey there ! I'm a student in Institute of Technical Research and Education at Siksha 'O' Anusandhan University, 
            pursuing a degree in Computer Science . A dedicated and curious learner with a strong foundation in programming.
            I possess knowledge of Python and Java, and I'm currently focused on expanding my technical toolkit by mastering
            Data Structures and Algorithms (DSA) and diving into Web Development.

        </p>

        <p style="font-size:18px;">
            Beyond coding, I value connection and collaboration. I enjoy communicating with people and believe strong interpersonal
            skills are essential for successful projects.
        </p>
        <p style="font-size:18px;">
            In my free time, I love listening to music and applying the teamwork and strategy I learn from playing cricket. 
            I'm always looking for opportunities to grow, connect, and put my skills to work.
        </p>

    </div>

</body>
</html>
