<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>

<body style="margin:0; font-family:Segoe UI; background:linear-gradient(to right, #74ebd5, #ACB6E5);"></body>

    <!-- Navbar -->
    <div style="background-color:#222; padding:15px;">
        <span style="color:#00ffff; font-size:24px; font-weight:bold;">
            Prince Kumar
        </span>

        <span style="float:right;">
            <a href="/" style="color:white; margin-right:20px;">Home</a>
            <a href="/about" style="color:white; margin-right:20px;">About</a>
            <a href="/projects" style="color:white; margin-right:20px;">Projects</a>
            <a href="/contact" style="color:white;">Contact</a>
        </span>
    </div>


    <!-- Projects -->
    <div style="text-align:center; padding:50px;">

        <h1>My Projects</h1>

        <div style="
            background:white;
            padding:20px;
            margin:20px auto;
            width:50%;
            border-radius:10px;
            box-shadow:0 0 8px gray;">

            <h3>Portfolio Website</h3>
            <p>Built using Django and HTML.</p>

        </div>

        <div style="
            background:white;
            padding:20px;
            margin:20px auto;
            width:50%;
            border-radius:10px;
            box-shadow:0 0 8px gray;">

            <h3>Jarvis Voice Assistant</h3>
            <p>A Python-based voice assistant that performs tasks like opening apps,
                searching Google, and responding to voice commands using speech recognition and text-to-speech.
            </p>
        </div>

        <div style="
            background:white;
            padding:20px;
            margin:20px auto;
            width:50%;
            border-radius:10px;
            box-shadow:0 0 8px gray;">

            <h3>Java Currency Converter</h3>
            <p>A Java-based application that converts currencies like INR, USD, and EUR using predefined exchange rates.
                This project helped me understand Java, and real-world application development.
            </p>
        </div>

    </div>

</body>
</html>
